---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINCs | FAQ</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="faq.css">
    <meta property="og:image" content="https://www.minc.bike/img/og.jpg" />
    <link rel="icon" href="./img/favicon.png">
</head>

<body>

{% include headerfooter.html %}

<h1>FAQ</h1>

<marquee hspace="0">
    <img src="./img/mink/minc-1.jpg" width="200">
    <img src="./img/mink/minc-2.jpg" width="200">
    <img src="./img/mink/minc-4.jpg" width="200">
    <img src="./img/mink/minc-8.jpg" width="200">
    <img src="./img/mink/minc-16.jpg" width="200">
    <img src="./img/mink/minc-18.jpg" width="200">
    <img src="./img/mink/minc-19.jpg" width="200">
    <img src="./img/mink/minc-20.jpg" width="200">
    <img src="./img/mink/minc-21.jpg" width="200">
    <img src="./img/mink/minc-22.jpg" width="200">
    <img src="./img/mink/minc-23.jpg" width="200">
    <img src="./img/mink/minc-24.jpg" width="200">
    <img src="./img/mink/minc-29.jpg" width="200">
    <img src="./img/mink/minc-30.jpg" width="200">
    <img src="./img/mink/minc-31.jpg" width="200">
    <img src="./img/mink/minc-34.jpg" width="200">
    <img src="./img/mink/minc-35.jpg" width="200">
    <img src="./img/mink/minc-36.jpg" width="200">
    <img src="./img/mink/minc-38.jpg" width="200">
    <img src="./img/mink/minc-40.jpg" width="200">
    <img src="./img/mink/minc-46.jpg" width="200">
    <img src="./img/mink/minc-50.jpg" width="200">
</marquee>

<div class="faq">

    <h2>What's the format?</h2>
    <p>
        Everyone rolls out together and we all ride centuries!
        <br>
        That's 100 <a href="#kilometer">kilometers</a>, 100 miles, or 100 <a href="#nautical-mile">nautical miles</a>.
    </p>

    <h2>What should I bring?</h2>
    <p>
    <ul>
        <li>A working bike</li>
        <li>Tools for mechanical issues & the requisite knowledge</li>
        <li>Water</li>
        <li>Fully charged lights (just in case)</li>
        <li>The route</li>
    </ul>
    </p>

    <h2>Is there SAG support?</h2>
    <p>Nope! See above</p>

    <h2>Is this a race?</h2>
    <p>Nope! Bike at comfortable pace, take stops, meet new people!</p>

    <h2 id="nautical-mile">What's a nautical mile?</h2>
    <p>
        The length of 1/60th of a degree around the equator
        <br>
        (approximately 1.15 miles)
    </p>

    <h2 id="kilometer">What's a kilometer?</h2>
    <p>
        1/10,000th of the distance from the equator to either pole
        <br>
        (approximately 0.62 miles)
    </p>

    <h2>Is the earth round?</h2>
    <p>
        Yes
    </p>


</div>

<marquee direction="right">
    <img src="./img/mink/minc-25a.jpg" width="200">
    <img src="./img/mink/minc-26a.jpg" width="200">
    <img src="./img/mink/minc-3a.jpg" width="200">
    <img src="./img/mink/minc-6a.jpg" width="200">
    <img src="./img/mink/minc-7a.jpg" width="200">
    <img src="./img/mink/minc-9a.jpg" width="200">
    <img src="./img/mink/minc-10a.jpg" width="200">
    <img src="./img/mink/minc-11a.jpg" width="200">
    <img src="./img/mink/minc-12a.jpg" width="200">
    <img src="./img/mink/minc-13a.jpg" width="200">
    <img src="./img/mink/minc-14a.jpg" width="200">
    <img src="./img/mink/minc-15a.jpg" width="200">
    <img src="./img/mink/minc-17a.jpg" width="200">
    <img src="./img/mink/minc-27a.jpg" width="200">
    <img src="./img/mink/minc-32a.jpg" width="200">
    <img src="./img/mink/minc-33a.jpg" width="200">
    <img src="./img/mink/minc-37a.jpg" width="200">
    <img src="./img/mink/minc-41a.jpg" width="200">
    <img src="./img/mink/minc-42a.jpg" width="200">
    <img src="./img/mink/minc-44a.jpg" width="200">
    <img src="./img/mink/minc-45a.jpg" width="200">
    <img src="./img/mink/minc-47a.jpg" width="200">
    <img src="./img/mink/minc-48a.jpg" width="200">
</marquee>

<marquee hspace="0">
    <img src="./img/mink/minc-29.jpg" width="200">
    <img src="./img/mink/minc-30.jpg" width="200">
    <img src="./img/mink/minc-31.jpg" width="200">
    <img src="./img/mink/minc-34.jpg" width="200">
    <img src="./img/mink/minc-35.jpg" width="200">
    <img src="./img/mink/minc-36.jpg" width="200">
    <img src="./img/mink/minc-38.jpg" width="200">
    <img src="./img/mink/minc-40.jpg" width="200">
    <img src="./img/mink/minc-46.jpg" width="200">
    <img src="./img/mink/minc-50.jpg" width="200">
    <img src="./img/mink/minc-1.jpg" width="200">
    <img src="./img/mink/minc-2.jpg" width="200">
    <img src="./img/mink/minc-4.jpg" width="200">
    <img src="./img/mink/minc-8.jpg" width="200">
    <img src="./img/mink/minc-16.jpg" width="200">
    <img src="./img/mink/minc-18.jpg" width="200">
    <img src="./img/mink/minc-19.jpg" width="200">
    <img src="./img/mink/minc-20.jpg" width="200">
    <img src="./img/mink/minc-21.jpg" width="200">
    <img src="./img/mink/minc-22.jpg" width="200">
    <img src="./img/mink/minc-23.jpg" width="200">
    <img src="./img/mink/minc-24.jpg" width="200">
</marquee>

{% include headerfooter.html %}

</body>
</html>