body {
    text-align: center;
    font-family: monospace;
    background: skyblue;
    margin: 0px;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    /* h4 larger than h3 is probably evil */
    font-size: 30px;
    margin: 0px;
}

p {
    margin: 0px;
    font-size: 18px;
}